{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="recipes">
        {% if recipes %}
        <div class="row">
            <!--Need pyrebase method to retrieve PyreResponse object(.each())-->
            {% for recipe in recipes.each() %}
            <div class="col-md-4">
                <a class="card border-dark mb-3" id="recipe_card" href="/details/{{recipe.key()}}" style="text-decoration: none; color: black;">
                    <div class="recipe">
                        <img class="card-img-top" src="{{p1}}2F{{recipe.val().image}}{{p2}}" style="width: 100%; object-fit: cover; " alt="...">
                        <h3 class="recipename" style="margin-left: 10px;">{{recipe.val().recipename}}</h3>
                        <p class="description" style="margin-left: 10px; margin-right: 10px;">{{recipe.val().description}}</p>
                        <span class="authornamepre" style="margin-left: 10px;">By 
                            <h6 class="author" style="display: inline-block; margin-left: auto; text-decoration: underline; margin-bottom: 15px;">{{recipe.val().author}}</h6>
                        </span>
                    </div>    
                </a>
            </div>
            {% endfor %}
        {% else %}
            <div class="norecipes">
                <p>What? No posts?, Why don't you try adding your own.</p>
            </div>
        {% endif %}
        </div>
    </div>        
</div>
{% endblock content %}