{% extends "layout.html" %}
{% block content %}
<div class="container">
    {% for x in profile %}
    {% if x.val().email == session["email"] %}
    <div class="row" style="margin-top: 150px;">           
        <div class="col-md-6" style="display: flex; flex-direction: column; justify-content: space-between; margin-left: 300px;">
            <div style="margin-left: 70%;">
                <a href="/editprofile/{{x.key()}}">
                    <button>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>    
                    </button>
                </a>               
            </div>
            <div>
            {% if x.val().profileimg == "n/a" %}
                <div style="margin: auto; width: 50%;">
                    <img src="static\images\480px-No_image_available.svg.png" style="width: 100%; height: 100%; object-fit: cover; border-radius: 20px;">
                </div>    
            {% else %}
                <div style="margin: auto; width: 50%;">
                    <img src="{{p1}}2F{{x.val().profileimg}}{{p2}}" style="width: 100%; height: 100%; border-radius: 50%;">    
                </div>
            {% endif %}    
            </div>
            
            <div style="margin: auto; width: 50%;">
                <h4>Email:</h4>
                <p style="border-style: solid; padding-left: 10px;">{{x.val().email}}</p>
            </div>
            <div style="margin: auto; width: 50%;">
                <h4>Password:</h4>
                <p style="border-style: solid; padding-left: 10px;">••••••••</p>
            </div>
            <div style="margin: auto; width: 50%;">
                <h4>User Name:</h4>
                <p style="border-style: solid; padding-left: 10px;">{{x.val().username}}</p>
            </div>   
        </div>        
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}