{% extends "layout.html" %}
{% block content %}

<div class="container">
    {% if session["usr"] %}
    <div class="recipebtn" id="addrecipebutton">
        <a button type="button" href="/addrecipe" class="btn" style="width: 268px; height: 40px; background-color: goldenrod; color: white; border-style: solid; border-color: black;">Add a Recipe</button></a>
    </div>
    {% endif %}
    <div class="recipes">
        {% if recipes %}
        <div class="row">
            <!--Need pyrebase method to retrieve PyreResponse object(.each())-->
            {% for recipe in recipes.each() %}
            <div class="col-md-4">
                <a class="card border-dark mb-3" id="recipe_card" href="/details/{{recipe.key()}}" style="text-decoration: none; color: black;">
                    <div class="recipe">
                        <img class="card-img-top" src="{{p1}}2F{{recipe.val().image}}{{p2}}" style="width: 100%; object-fit: cover;" alt="...">
                        <h3 class="recipename" style="margin-left: 10px;">{{recipe.val().recipename}}</h3>
                        <p class="description" style="margin-left: 10px; margin-right: 10px;">{{recipe.val().description}}</p>
                        <span class="authornamepre" style="margin-left: 10px; ">By 
                            <h6 class="author" style="display: inline-block; margin-left: auto; text-decoration: underline; margin-bottom: 15px;" >{{recipe.val().username}}</h6>
                        </span>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-left: 45%; margin-bottom: 10px;">
                            <label class="btn btn-secondary">
                                <input type="radio" name="likes" id="like" aria-pressed="false">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                                </svg>
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="likes" id="dislike" aria-pressed="false">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                </svg>
                            </label>
                        </div>
                    </div>    
                </a>
            </div>
            {% endfor %}
        {% else %}
            <div class="norecipes" style="margin: auto; width: 50%;">
                <h1>Whoops...Looks like there are no recipes. You should add one :)</h1>
            </div>
        {% endif %}
        </div>
    </div>        
</div>
{% endblock content %}